@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

html {
    font-family: 'Fredoka One', cursive;
}

header > nav {
    background-color: #444c60 ;
    font-size: 22;
}

body {
    margin: 0px;
    padding: 0px;
    font-size: 22;
    /* text-align: center; */
}

main {
    padding: 16px;
    border-bottom: 10px;
    min-height: 100%;
    background-color: #a2a9bb;
    border-color: #a2a9bb;
}

footer {
    background-color: #444c60;
    padding: 16px;
    height: 16px;
    bottom: 16px;
    font-size: 13;
    color: white;
    text-align: center;
}

img {
    height: 200px;
}

nav {
    border-bottom: 1px solid black;
    padding: 16px;
    font-size: 20px;
}

#main-link {
    color: white;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: black;
}

a {
    text-decoration: 0px;
}

table{
    margin-left: auto;
    margin-right: auto;
    font-size: 20;
}

thead > tr > th {
    border-bottom: 1px solid black;
}

th {
    text-align: center;
}

td {
    padding: 0px 10px;
    text-align: center;
}

.recipe-grid {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: auto;
}

.recipe-grid div {
    justify-self: center;
}

table > tbody > tr:nth-child(even) {
    background-color: lightgray;
}

.rating {
    color: gold;
}

ol{
    text-align: center;
    list-style-position: inside;
}

.flextest {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipe-img:hover {
    transform: scale(1.1)
}

.recipe-img {
    transition: transform 0.1s ease-in
}

.recipe-page-img {
    margin: auto;
    display: block;
}
